:root {
  --background-color: #141414;
}

body {
  background-color: var(--background-color);
}

.App {
  text-align: center;
  /* 282c34 */
  background-color: var(--background-color);;
}

.App-main {
  display: flex;
  width: 80vw;
  max-height: 100vh;
  padding-top: 4rem;
}

.lves-text-editor__input {
  height: 100%;
}

.lves-text-editor__toolbar {
  display: none;
}

.lves-timeline {
  width: 30vw;
  margin-right: 2rem;
}

.lves-timeline span {
  display: block;
  height: 100%;
  position: relative;
}

.ant-timeline-item {
  display: flex;
}

.ant-timeline .ant-timeline-item:first-of-type {
  position: relative;
  top: 1px;
}


.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.public-DraftStyleDefault-ltr,
.public-DraftEditor-content,
.DraftEditor-editorContainer,
.DraftEditor-root {
  min-height: 60vh;
  font-size: 16px;
}

.DraftEditor-root {
  padding: 0.5rem 1rem;
  border: 2px solid white;
}
